table {
  table-layout: fixed;
}

td {
  white-space: normal !important;
  word-wrap: break-word;
  overflow: hidden;
}

textarea {
  overflow: hidden;
  resize: none;
}

@media screen and (max-width: 576px) {
  .table thead {
    display: none;
    border: none;
  }

  .table tr {
    display: block;
  }

  .table td {
    display: block;
    text-align: right;
    border: none;
  }

  .table td:before {
    content: attr(data-label);
    float: left !important;
    font-weight: bold;
  }
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";