**/node_modules/
**/public/build/
**/bin/
**/obj/
**/dist/
**/wwwroot/
**/Logs/
**/build/
.vs/
.vscode/
.DS_Store
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.coverage
*.coveragexml
**/.eslintcache
