<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\Server.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess" />
      <httpProtocol>
        <customHeaders>
          <clear />

          <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />

          <add name="Strict-Transport-Security" value="max-age=31536000" />

          <add name="X-XSS-Protection" value="1; mode=block" />

          <add name="Referrer-Policy" value="no-referrer" />

          <add name="X-Content-Type-Options" value="nosniff" />

          <add name="X-Frame-Options" value="SAMEORIGIN" />

          <add name="Content-Security-Policy" value="frame-ancestors 'self'" />

          <add name="Permissions-Policy" value="accelerometer=(), camera=(), geolocation=(), gyroscope=(), magnetometer=(), microphone=(), payment=(), usb=()" />
        </customHeaders>
      </httpProtocol>
      <security>
        <requestFiltering removeServerHeader="true" />
      </security>
    </system.webServer>
  </location>
</configuration>
